img {
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    transform: translate(100%, 15%);
    max-width: 326px;
    height: 100vh;
    column-gap: 17px;
}

.grid .flex {
    width: 370px;
    display: flex;
    flex-flow: column wrap;
}

.grid .flex .video {
    display: flex;
    
}

.grid .flex .video h1 {
    flex-shrink: 0;
}

.grid .flex .add, 
.grid .flex .video .thumb {
    background-color: #C4C4C4;
}

.grid .flex .video .thumb{
    width: 101px;
    height: 71px;
}

.grid .flex .add {
    text-align: center;
    line-height: 56px;
    font-size: 11px;
    width: 270px;
    height: 56px;
    margin-bottom: 15px;
}

.grid .flex .video .time {
    margin-bottom: 15px;
}


